/* ==========================================================================
   Custom styles
   
   @author: Christopher Le Dantec, ledantec@gatech.edu
   ========================================================================== */

body{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    font-family: Myriad Pro, Verdana;
}

a:link {
	font-weight: 400;
	text-decoration: none;	
	color: rgba(25,142,226,1);
}

a:visited {
	font-weight: 400;
	text-decoration: underline;	
	color: #9d371e;
}

a:hover{
	font-weight: 400;
	text-decoration: underline;	
	color: #e34c25;
}

#mapBody {	
	float: left;
	z-index: 0;
	width: 100%; 
	height: 920px; 
	background-color: #fff;
	margin-bottom: 20px;
	margin-left: 10px;
}

#controlContainer{
	position: absolute;
	z-index: 1000;
	width: 1170px;
	height:920px;
	float:left;
	margin: 0;
	pointer-events:none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-box-shadow:    inset 0 0 6px #999;
    -webkit-box-shadow: inset 0 0 6px #999;
    box-shadow:         inset 0 0 6px #999;
    border:1px solid #f3f3f3;
    border-radius: 5px;
    margin-left: 10px;
}

#controls {
	/* position: relative; */
/* 	top: -920px; */
	width: 18px;
	padding: 15px 5px 15px 5px;
	border-radius: 5px;
	background-color: rgba(13,85,135,0.7);/* rgba(227,76,37,0.5); */
	margin: 80px 0 0 10px;
	float:left;
	pointer-events: all;
}
#slider { 
	margin-left: 2px; 
/*
	height: 10px;
	width: 200px;
	padding: 0 100px 0 100px;
*/
}

#status{
	visibility: hidden;
	position:absolute;
	text-align: center;
	top: 40%;
	left: 35%;
	padding: 20px;
	font-size: 24px;
/* 	font-weight: 500; */
	color: #fff;
	border-radius: 5px;
	background-color: rgba(227,76,37,0.7);
	border:1px solid #fff;
	z-index:100;

}

.navbar-fixed-top {
	background-color: rgba(227,76,37,0.9); /* #f5f5f5; */
	border-bottom: 1px solid #f3f3f3;
	box-shadow: 0 0 6px #999;
	height: 60px;
	margin-bottom:20px;
	font-weight: normal;
	font-weight: lighter;
}

.cycleAtl_title {
	padding-top: 20px;
	font-weight: normal;
	color: #fff;/* rgb(13,85,135); */
	font-size: 48px;
}

.cycleAtl_title a{
	text-decoration: none;
	color:#fff;
	padding:2px 4px 2px 4px;
}

.cycleAtl_title a:hover{
	text-decoration: none;
	color:#fff;
	background-color: rgba(255,255,255,.2);
}

.smallText{
	font-size: 24px;
	color: #fff;
	margin-left: 60px;
}

.right{
	float: right;
	text-align: right;
}

.trip_count, .trip_total {
	font-weight: 600;
}

#top{
	font-size: 16px;
	margin-top:20px;
	margin-left:10px;
}

/*
	form styles
*/
#form{
	float:right;
	color:#fff;
	border-radius: 5px;
	background-color: rgba(13,85,135,0.7);
	padding: 15px 15px 0px 5px;
	border: 2px solid #fff;
	margin: 10px 10px;
	pointer-events: all;
}

#form li{
	list-style-type:none;
}

#form li label.description{
	margin-top:10px;
	margin-left: -10px;
	font-weight: bold;
}

#form li span label.choice{
	color:#fff;
	font-size: 12px;
	padding:0;
}

#form li.buttons{
	margin: 10px auto auto 20px;
	
}

p.bottom {
	font-size: 16px;
	margin-left: 10px;
}

.form_description p{
	font-size: 16px;
	font-weight: bold;
	margin-left:15px;
}

#missingAttrib{
	visibility: hidden;
	color: #fff;
	font-size: 10px;
	background-color: #909291;
	border: 1px solid #fff;
	border-radius: 2px;
	margin:0;
	padding: 0 3px 0 3px;
}

select{
	width: 130px;
	height: 20px;
	font-size: 12px;
	line-height: 1em;
}

input.checkbox
{
	display:block;
	height:13px;
	line-height:1.1em;
	margin:6px 0 0 3px;
	width:13px;
}

label.choice
{
	color:#444;
	display:block;
	font-size:100%;
	line-height:1em;
	margin:-1.1em 0 0 25px;
	padding:5px 0 5px;
	width:85%;
	border:solid 1px rgba(255,255,255,0);
}

#tripForm {margin-top: 15px;margin-left: 20px;}

#tripForm .button { margin-top:-10px;}

#tripForm .textField { width: 100px; }

.tripData {padding:5px;margin-left: 20px; margin-bottom: 25px;height: 500px; font-family: "Courier New", Courier, monospace; overflow-y: scroll; width: 95%; border:1px solid #BBB; background-color: #fff;}
